@import '../../common.scss';

.cd-alert {
  .cd-layer__main {
    width: 80%;
    max-width: 360px;
    padding: 30px 36px;
  }

  .cd-dialog__message {
  }

  .cd-dialog__buttons {
    padding-top: 30px;
    font-size: 0;
    text-align: right;

    .cd-button {
      margin-left: 18px;
    }

  }

  &.cd-dialog--title {
    .cd-dialog__title {
      font-size: 18px;
      line-height: 24px;
    }

    .cd-dialog__message {
      padding-top: 12px;
      padding-left: 12px;
      font-size: 14px;
      color: $defaultColor1;
    }

  }

}

@media (max-width:$platform-phone-max) {
  .cd-alert {
    .cd-layer__main {
      padding: 24px 28px;
    }

    .cd-dialog__buttons {
      padding-top: 24px;
    }

    &.cd-dialog--title {
      .cd-dialog__message {
        padding-left: 0;
      }

    }

  }

}
